<!DOCTYPE html>

<html>
<%- partial('partials/head')%>
<body>
    <div class="container">
        <%- partial('partials/header')%>
        <%- body%>
        <%- partial('partials/footer')%>
    </div>
</body>
</html>
