<!DOCTYPE html>

<html>
<%- partial('_partials/head')%>
<body>
    <div class="container">
        <%- partial('_partials/header')%>
        <%- body%>
        <%- partial('_partials/footer')%>
    </div>
</body>
</html>
