// color
$fontColor = #d3d7da
$fontHoverColor = #878C8F
$fontHyperLinkColor = #7c7c81

$bgColor = #151617
$bgColorPostsDiv = #1a1a1a
$bgColorHeaderFooter = #111111
$boxShadowColor = #101010

// size
$avatarLen = 160px
