body {
  background-color: #151617;
  color: #d3d7da;
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 0;
}
body a {
  color: #7c7c81;
  text-decoration: none;
}
body a:hover {
  text-decoration: underline;
}
.container {
  min-width: 100%;
  min-height: 100%;
  margin: 0 auto;
}
.archive {
  margin: 1em;
  background-color: #151617;
  color: #d3d7da;
}
.archive .post-archive .post-item {
  margin: 5px 0;
}
.archive .post-archive .post-item .post-date {
  display: inline-block;
  margin-right: 10px;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #d3d7da;
  background-color: #111;
}
.header {
  display: flex;
  align-items: baseline;
  padding: 10px 50px;
  background-color: #111;
  margin: 0 0 1rem 0;
}
.header .title-div .title {
  color: #d3d7da;
  font-size: 1.5em;
  text-decoration: none;
}
.header .menu {
  margin: 0;
  padding-left: 20px;
}
.header .menu .menu-item {
  display: inline-block;
  margin-right: 10px;
}
.header .menu .menu-item-link {
  color: #d3d7da;
  text-decoration: none;
}
.header .menu .menu-item-link:hover {
  color: #878c8f;
}
.index-box {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}
.index-box .index-side-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 4rem;
  max-width: 30%;
}
.index-box .index-side-bar .master-feature-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.index-box .index-side-bar .master-feature-div .avatar {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}
.index-box .index-side-bar .master-feature-div .master-name {
  margin: 0.5rem auto 0;
}
.index-box .index-side-bar .master-feature-div .master-motto {
  font-size: 1rem;
  margin: 0.5rem auto 0;
}
.index-box .posts-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 3rem;
  max-width: 70%;
  min-height: 66rem;
  background-color: #1a1a1a;
  box-shadow: 0 1rem 1.5rem 0.5rem #101010;
}
.index-box .posts-div .posts-divider {
  border-left: 30rem solid #d3d7da;
  border-right: 30rem solid #d3d7da;
  line-height: 2px;
  margin: 3rem 0;
  padding: 0 2rem 0;
  text-align: center;
}
.index-box .posts-div .posts-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1.5rem 2rem;
  width: 60rem;
  height: 15rem;
  background-color: #1a1a1a;
  border-radius: 1.5rem;
  box-shadow: 0 0.3rem 2rem 0.3rem #101010;
}
.index-box .posts-div .posts-card .post-title {
  font-size: 1.5em;
}
.post-article-div {
  margin: 0 12rem;
  padding: 0 3rem;
}
.post-article-div img {
  max-width: 70%;
}
.post-article-div .post {
  padding: 1rem 3rem;
}
.post-article-div .post-article-footer::before {
  content: "";
  width: 100%;
  height: 0.1rem;
  background: #878c8f;
  display: block;
}
.post-article-div .post-article-footer .post-read-count {
  text-align: right;
  font-size: 1rem;
  margin: 0.2rem 1rem 0;
}
.post-article-div .post-comment-area {
  margin: 5rem auto;
}
