body {
  background-color: #242328;
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 0;
}
.container {
  min-width: 100%;
  min-height: 100%;
  margin: 0 auto;
}
.archive {
  margin: 1em;
  background-color: #fff;
  border: 1px solid #ddd;
}
.archive .post-archive .post-item {
  margin: 5px 0;
}
.archive .post-archive .post-item .post-date {
  display: inline-block;
  margin-right: 10px;
  color: #bababa;
}
.archive .post-archive .post-item .post-title {
  color: #368ccb;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #e6e0d7;
  background-color: #111;
}
.header {
  display: flex;
  align-items: baseline;
  padding: 10px 50px;
  background-color: #111;
}
.header .title-div .title {
  color: #e6e0d7;
  font-size: 1.5em;
  text-decoration: none;
}
.header .menu {
  margin: 0;
  padding-left: 20px;
}
.header .menu .menu-item {
  display: inline-block;
  margin-right: 10px;
}
.header .menu .menu-item-link {
  color: #e6e0d7;
  text-decoration: none;
}
.header .menu .menu-item-link:hover {
  color: #455eb2;
}
.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 70%;
  min-height: 66rem;
  background-color: #1a1a1a;
}
.posts .post {
  padding: 3rem;
  width: 60rem;
  height: 15rem;
  background-color: #fefdf9;
}
.posts .post:first-child {
  margin-top: 0;
}
.posts .post-title {
  font-size: 1.5em;
}
.posts .post-title .post-title-link {
  color: #245ed8;
}
.posts .post-content a {
  color: #245ed8;
}
.posts .post-meta {
  color: #b9baec;
}
