@import "./config.styl"

body {
  background-color: $bgColor;
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 0
}
.container {
  min-width: 100%;
  min-height 100%;
  margin: 0 auto;
}
@import "partials/archive";
@import "partials/footer";
@import "partials/header";
@import "partials/index";
