.archive{
  margin:1em
  background-color:#ffffff
  border:1px solid #dddddd
  .post-archive {
    .post-item {
      margin:5px 0
      .post-date {
        display: inline-block
        margin-right: 10px
        color:#BABABA
      }
      .post-title {
        color:#368CCB
      }
    }
  }
}
