@import "../config.styl"

.archive{
  margin:1em
  background-color: $bgColor
  color $fontColor
  .post-archive {
    .post-item {
      margin:5px 0
      .post-date {
        display: inline-block
        margin-right: 10px
      }
    }
  }
}
