.header {
  display: flex
  align-items: baseline
  padding: 10px 50px
  background-color #111111
  .title-div .title {
    color: #E6E0D7
    font-size: 1.5em
    text-decoration: none
  }
  .menu {
    margin: 0;
    padding-left: 20px;
    .menu-item {
      display: inline-block;
      margin-right: 10px;
    }
    .menu-item-link {
      color: #E6E0D7;
      text-decoration: none;
      &:hover {
        color: #455EB2;
      }
    }
  }
}
