@import "../config.styl"

.header {
  display: flex
  align-items: baseline
  padding: 10px 50px
  background-color $bgColorHeaderFooter
  margin 0 0 1rem 0
  .title-div .title {
    color: $fontColor
    font-size: 1.5em
    text-decoration: none
  }
  .menu {
    margin: 0;
    padding-left: 20px;
    .menu-item {
      display: inline-block;
      margin-right: 10px;
    }
    .menu-item-link {
      color: $fontColor;
      text-decoration: none;
      &:hover {
        color $fontHoverColor;
      }
    }
  }
}
