@import "../config.styl"

.index-box {
  display flex
  flex-direction row
  align-items flex-start
  justify-content space-around
  .index-side-bar {
    display flex
    flex-direction column
    align-items center
    margin 2rem 4rem
    max-width 30%
    font-size 1.25rem
    .master-feature-div {
      display flex
      flex-direction column
      align-items center
      .avatar {
        border-radius 50%
        width $avatarLen
        height $avatarLen
      }
      .master-name {
        font-size 1.75rem
        margin 1rem auto 0
      }
      .master-motto {
        margin 0.5rem auto 0
      }
    }
  }
  .posts-div  {
    display flex
    flex-direction column
    align-items center
    margin 2rem 3rem
    max-width 70%
    min-height 66rem
    background-color $bgColorPostsDiv;
    box-shadow 0 1rem 1.5rem 0.5rem $boxShadowColor
    .posts-divider {
      border-left 30rem solid $fontColor
      border-right 30rem solid $fontColor
      line-height 2px
      margin 3rem 0
      padding 0 2rem 0
      text-align center
    }
    .posts-card {
      display flex
      flex-direction column
      justify-content space-around
      padding 1.5rem 2rem
      margin 1.5rem auto
      width 60rem
      height 15rem
      background-color: $bgColorPostsDiv;
      border-radius 1.5rem
      box-shadow 0 0.3rem 2rem 0.3rem $boxShadowColor
      .post-title {
        font-size 1.5em
      }
    }
  }
}
.website-comment-area {
  margin 5rem auto
  max-width 80%
}
