.posts  {
  display flex
  flex-direction column
  align-items center
  max-width 70%
  min-height 66rem
  background-color: #1a1a1a;
  .post {
    padding 3rem
    width 60rem
    height 15rem
    background-color: #FEFDF9;
  }
  .post:first-child {
    margin-top: 0;
  }
  .post-title {
    font-size: 1.5em;
    .post-title-link {
      color: #245ED8;
    }
  }
  .post-content {
    a {
      color: #245ED8;
    }
  }
  .post-meta {
    color: #B9BAEC;
  }
}
