.posts-div  {
  display flex
  flex-direction column
  align-items center
  margin 2rem 3rem
  max-width 70%
  min-height 66rem
  background-color #1a1a1a;
  color #ccd8ff
  box-shadow 0 1rem 2rem 1rem #000000
  .posts-divider {
    color #ccd8ff
    border-left 30rem solid #ccd8ff
    border-right 30rem solid #ccd8ff
    line-height 2px
    margin 3rem 0
    padding 0 2rem 0
    text-align center
  }
  .post {
    padding 1.5rem 2rem
    width 60rem
    height 15rem
    background-color: #232425;
    border-radius 1.5rem
    box-shadow 0 0.3rem 2rem 0.3rem #101010
    .post-title {
      font-size: 1.5em;
      .post-title-link {
        color: #245ED8;
      }
    }
    .post-content {
      a:-webkit-any-link {
        color: #245ED8;
      }
    }
  }
}
